body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

div#databaseDisplay.database-display {
  background-color: #18817d;
  margin: 10px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  height: auto;
  border: 5px solid yellow;
  box-shadow: 1px 1px rgb(0, 0, 0);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  padding: 10px 10px;
}

#form {
  display: flex;
  justify-content: center;
}

div#databaseDisplay.database-display div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 10px 10px;
  color: yellow;
  border: 1px solid rgb(0, 0, 0);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(184, 11, 155);
}

p {
  color: yellow;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

input {
  height: 50px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#button {
  display: flex;
  border: 4px solid rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: greenyellow;
}

#button:hover {
  background-color: #18ca1e;
}

#button:active {
  background-color: #18ca1e;
  transform: translateY(4px);
}

.thumbnail-container {
  display: flex;
  width: 80vw;
  background-color: purple;
  padding: 10px;
  justify-content: flex-start;
  position: relative;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-block: 50px;
  align-items: center;
  bottom: 5vh;
  height: 17vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* step 1. give the thumbs a new height */
.thumb {
  height: 15vh;
}

#login {
  display: flex;
  width: 80vw;
  background-color: purple;
  padding: 10px;
  justify-content: flex-start;
  position: relative;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-block: 50px;
  align-items: center;
  bottom: 5vh;
  height: 17vh;
  overflow-x: auto;
  overflow-y: hidden;
}

input {
  display: flex;
  width: 80vw;
  background-color: green;
  padding: 10px;
  justify-content: flex-start;
  position: relative;
  left: 0;
  right: 0;
  margin-inline: auto;
  align-items: center;
}

.thumb {
  padding: 10px 20px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.thumb:hover {
  background-color: #3e8e41;
}

.thumb:active {
  background-color: #0bec13;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.pet-page-container {
  display: flex;
}
