div.pet-page-container {
  display: flex;
  height: 200px;
  width: auto;
}

.stat-container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

#stats {
  display: none;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin-inline: auto;
}

/* #stats {
  display: flex;
  padding: 10px;
  justify-content: space-around;
} */

#stats-title {
  display: flex;
  justify-content: center;
}

.pet-description {
  display: flex;
}

#shop {
  position: relative;
  background-color: #18817d;
  margin: 10px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  height: auto;
  border: 5px solid yellow;
  box-shadow: 1px 1px rgb(0, 0, 0);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.shop-item p {
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin-inline: auto;
}

#animalImage {
  display: flex;
  width: auto;
  height: 200px;
  justify-content: space-between;
  position: relative;
  left: 0;
  right: 0;
  margin-inline: auto;
}

